/* Estabelecendo variáveis globais: */
:root {
    --orange: #EB6440;
    --azure: #EFF5F5;
    --black: #000000;
    --shadow: hsla(0, 0%, 0%, 0.25);
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* Corpo da aplicação: */
body {
    background: var(--azure);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}